@font-face {
    font-family: 'Realistica';
    src: url('Realistica.eot');
    src: local('Realistica'),
        url('Realistica.eot?#iefix') format('embedded-opentype'),
        url('Realistica.woff2') format('woff2'),
        url('Realistica.woff') format('woff'),
        url('Realistica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}